{
	"presets": [
		[
			"@jvdx/babel-preset",
			{
				"preset-env": {
					"loose": false,
					"modules": false,
					"useBuiltIns": "usage",
					"corejs": 2,
					"targets": {
						"esmodules": true
					}
				}
			}
		]
	]
}
